In [1]:
import pandas as pd

## Czyszczenie pliku *drinks.csv*

Tabela już posiada:
* kolumny jako wartości (variable)
* wiersze jako obserwacje
* pojedyncze wartości w komórkach

Nie zgadza się:
* wartości "\*_servings" nie idą w parze z wartościami "total_litres_of_pure_alcohol"

Wykonuje się:
* podział tabeli na dwie 
    * jedną zawierającą "country" i "\*_servings"
    * drugą zawierającą "country" i "total_litres_of_pure_alcohol"

In [10]:
pd.read_csv("../Original Data/drinks.csv")

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
...,...,...,...,...,...
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0
190,Yemen,6,0,0,0.1
191,Zambia,32,19,4,2.5
192,Zimbabwe,64,18,4,4.7

In [12]:
data = pd.read_csv("../Original Data/drinks.csv")
d_first = data.copy()
d_second = data.copy()

d_first = d_first.drop('total_litres_of_pure_alcohol', axis=1)
d_second = d_second.drop(
    ['beer_servings', 'spirit_servings', 'wine_servings'], 
    axis=1
)

print(d_first)
print(d_second)

d_first.to_csv('../Analysis Data/drinks_servings_by_country.csv')
d_second.to_csv('../Analysis Data/drinks_pure_alcohol_by_country.csv')

         country  beer_servings  spirit_servings  wine_servings
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

[193 rows x 4 columns]
         country  total_litres_of_pure_alcohol
0    Afghanistan                           0.0
1        Albania                           4.9
2        Algeria                           0.7
3        Andorra                          12.4
4         Angola                           5.9
..           ...                           ...
188    Venezuela                           7.7
189      Vietnam                           2.0
190        Yemen                           0.1
191       Zambia                           2.5
192     Zimbabwe                           4.7

[193 rows x 2 columns]